<% if (data.doc) { %>
<p class="lead label alert"><strong>ATTENTION</strong>: Éditer un document avec cette interface
va oblitérer tous les autres champs du document si vous l'avez créé directement
dans Futon (interface CouchDB).
</p>
<% } %>
<form method="POST" enctype="multipart/form-data">
  <% if (data.doc && data.doc._id) { %>
  <input type="text" name="id" placeholder="id" readonly value="<%- data.doc && data.doc._id %>">
  <% } else { %>
  <input type="text" name="id" placeholder="id" required">
  <% } %>
  <input type="text" name="section" placeholder="section" required value="<%- data.doc && data.doc.section || '' %>">
  <input type="text" name="title" placeholder="titre" required value="<%- data.doc && data.doc.title || '' %>">
  <textarea rows="9" name="content" placeholder="contenu" required><%- data.doc && data.doc.content || '' %></textarea>
  <% if (data.doc && data.doc._rev) { %>
  <input type="hidden" name="rev" placeholder="rev" required value="<%- data.doc && data.doc._rev %>">
  <% } %>
  <div class="help"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Voir la documentation de la syntaxe MarkDown</a></div>
  <input type="text" name="main_image" placeholder="Image Principale" required value="<%- data.doc && data.doc.main_image || '' %>">
  <input type="text" name="menu_image" placeholder="Image du menu" required value="<%- data.doc && data.doc.menu_image || '' %>">
  <input type="text" name="menu_title" placeholder="Titre du menu" required value="<%- data.doc && data.doc.menu_title || '' %>">
  <input type="text" name="weight" placeholder="Poids dans le menu (à la Drupal)" required value="<%- data.doc && data.doc.weight || '' %>">
  <label class="file">
<% if (data.doc._attachments['top-image-2.jpeg']) { %>
  <img title="Remplacer l'image (jpeg ou png)" src="/<%- data.doc._id %>/top-image-2.jpeg">
<% } else if (data.doc._attachments['top-image-2.png']) { %>
  <img title="Remplacer l'image (jpeg ou png)" src="/<%- data.doc._id %>/top-image-2.png">
<% } else { %>
  Téléverser une image jpeg ou png
<% } %>
  <input type="file" name="jpeg">
  </label>
  <input class="button primary" type="submit" value="<%- (data.doc && data.doc._rev) ? 'Éditer' : 'Créer' %>">
  <a class="button secondary" href="/<%- (data.doc && data.doc._id) ? data.doc._id : '' %>"><%- (data.doc && data.doc._id) ? 'Annuler' : 'Retour à l\'Accueil' %></a>
</form>
