<div class="column small-12 medium-6 large-4 nopadding tuile-wrapper">
  <a href="/<%- data.doc._id %>" title="<%- data.doc.title || data.doc._id %>">
  <% if (data.doc._attachments['top-image-3.jpeg']) { %>
    <img class="tuile-image" src="/<%- data.doc._id %>/top-image-3.jpeg" alt="<%- data.doc.title || data.doc._id %>">
  <% } else if (data.doc._attachments['top-image-3.png']) { %>
    <img class="tuile-image" src="/<%- data.doc._id %>/top-image-3.png" alt="<%- data.doc.title || data.doc._id %>">
  <% } else { %>
    <%- data.doc.title || data.doc._id %>
  <% } %>
  </a>
  <div id="tuile-<%- data.doc._id %>" class="tuile-titre"><%- data.doc.title || data.doc._id %></div>
</div>
