<% if (data.credentials || data.edit) { %>
<p><a class="button hollow" href="/<%- data.doc._id %>/edit">Éditer</a></p>
<% } %>
<!-- <% if (data.doc._attachments['top-image-4.jpeg']) { %> -->
  <!-- img class="main-image doc" src="/<%- data.doc._id %>/top-image-4.jpeg" -->
  <!-- div class="main-image doc jpeg"></div -->
<!-- <% } else if (data.doc._attachments['top-image-4.png']) { %> -->
  <!-- img class="main-image doc" src="/<%- data.doc._id %>/top-image-4.png" -->
  <!--div class="main-image doc png"></div -->
<!-- <% } %> -->
<%= data.doc.content %>

