    </div>
    <div id="pre-footer" class="row expanded">
      <!-- ul class="vertical menu">
        <% _(data.menu).each((m) => { %>
          <li<%= m.active ? ' class="active"' : '' %>><a href="<%- m.path %>"><%- m.title %></a></li>
        <% }) %>
      </ul -->
    </div>
    <footer class="show-for-large">
      <div class="row expanded">
        <div class="small-12 medium-12 large-4 columns">PIZZALOCA</div>
        <div class="small-12 medium-12 large-3 columns">Bertrand Riendeau</div>
        <div class="small-12 medium-6 large-2 columns">514 518 8892</div>
        <div class="small-10 medium-4 large-2 columns"><a href="/contact">ÉCRIVEZ-MOI</a></div>
        <div class="small-2 medium-2 large-1 columns"><a href="https://facebook.com">F</a></div>
      </div>
    </footer>
  </div>
  </div>
<script src="/js/vendor.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
