<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- data && data.app && data.app.siteTitle || 'Sans titre' %>
    <% if (data.doc && data.doc.title) { %>
      <%- data.doc.title %>
    <% } %>
  </title>
  <link rel="stylesheet" media="all" href="/css/foundation.css">
  <link rel="stylesheet" media="all" href="/css/app.css">
  <link rel="stylesheet" media="all" href="/css/pizzaloca.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<% if (data.pathparts) { %>
<body class="<%- data.pathparts.join('-') || 'front' %> <%- data.pathparts[0] %> <%- data.pathparts[0] && 'doc' %> <%- data.pathparts[1] || '' %>">
<% } else { %>
<body class="error-page">
<% } %>
<!-- DEBUG < %- JSON.stringify(data, null, '  ') % >  -->
<% if (data.doc && data.doc._id) { %>
<div id="main-image" style="background-image: url(/<%- data.doc._id %>/top-image-4.jpeg);"></div>
<% } %>
<div class="main row expanded">
    <div data-sticky-container>
      <button data-sticky type="button" data-open="meNu" class="menu-icon dark"></button>
    </div>
    <div id="meNu" class="full reveal" data-reveal>
          <% _(data.menu).each((m) => { %>
            <h4<%= m.active ? ' class="active"' : '' %>><a href="<%- m.path %>"><%- m.title %></a></h4>
          <% }) %>
        <button class="close-button" data-close aria-label="Close menu" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% if (data.doc && data.doc.title) { %>
    <div id="main-content-wrapper" class="row expanded">
    <div id="main-content" class="row expanded column small-offset-2 small-12 medium-offset-1 medium-12 large-12">
      <h1><%- data.doc.title %></h1>
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="/">Accueil</a></li>
          <li>
            <span class="show-for-sr">Current: </span><%- data.doc.title || data.doc._id %>
          </li>
        </ul>
      </nav>
    <% } else if (data.pathparts[0] = 'contact') { %>
      <div id="main-content-wrapper" class="row expanded">
      <div id="main-content" class="row expanded column small-offset-2 small-12 medium-offset-1 medium-12 large-12">
    <% } else { %>
      <h1><%- data && data.app && data.app.siteTitle %></h1>
    <% } %>

