<%= partials.head(data) %>
<h2>Contact</h2>
<form method="POST">
  <div class="row">
    <div class="column medium-3">
      <label for="contactname">Votre nom</label>
    </div>
    <div class="column medium-9">
      <input name="name" type="text" placeholder="Nom & Prénom" id="contactname" required>
    </div>
  </div>
  <div class="row">
    <div class="column medium-3">
      <label for="contactemail">Votre email</label>
    </div>
    <div class="column medium-9">
      <input name="email" type="email" placeholder="nom@example.com" id="contactemail">
    </div>
  </div>
  <div class="row">
    <div class="column medium-3">
      <label for="contactmessage">Votre message</label>
    </div>
    <div class="column medium-9">
      <textarea name="message" rows="10" placeholder="Votre message" id="contactmessage" required></textarea>
    </div>
  </div>
  <div class="row">
    <div class="column medium-3 medium-offset-9">
      <input class="button success large expanded" type="submit" value="Soumettre le message">
    </div>
  </div>
</form>
<%= partials.foot(data) %>
